<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blurt_style.css') }}">

        <!-- fontawesome kit -->
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
        <script src="{{ url_for('static', filename='js/blurt.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ob.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/delegate.js') }}"></script> -->

        <!-- Primary Meta Tags -->
        {% include 'metatags.html' %}
        <!-- Google Analytics -->
        {% include 'gatag.html' %}

    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron bg-blurt text-white">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                    width="150" alt="blurt logo" class="img-thumbnail">
                <h1 class="display-4">BP Delegation Tool (beta)</h1>
                <p class="lead">Delegate BP to @tomoyan</p>
                <hr class="my-4">
                <p>
                    The amount will replace existing delegation (if you have).<br>
                    If you like to increase BP delegation, enter the total BP you like to delegate.<br>
                    (For example, if you delegated 1000 BP and want to increase by 500 BP, type in 1500)<br>
                </p>
            </div>

            <!-- flash alert -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                <!-- Join Trail -->
                {% if "Welcome" in message[1]: %}
                <div class="alert alert-info" role="alert">
                    {{ message[1] }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Delegation Input Form -->
            <!-- used to protect the form against csrf attacks -->
            <!-- {{ form.hidden_tag() }} -->

<!--             <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="inlineFormUsername">Username</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormUsername"
                        name="username" placeholder="Username" required>
                    </div>
                </div>

                <div class="col-auto">
                    <label for="inlineFormVests">Amount (Vests)</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormVests"
                        name="amount" placeholder="1000" value="1000" required>
                    </div>
                </div>

                <div class="col-auto">
                    <label for="inlineFormActive">Private Active Key</label>
                    <div class="input-group mb-2">
                        <input type="password" class="form-control" id="inlineFormWif"
                        name="wif" placeholder="Private Active Key" required>
                    </div>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <button name="delegate" id="delegate" type="submit"
                        class="btn btn-blurt mb-2" onclick="delegateBP()">
                        Delegate
                    </button>
                </div>
            </div> -->

            {% if data['username'] %}
                {% block javascript %}
                <script>
                    data = {{ data | tojson }};
                    delegate(data);
                </script>
                {% endblock %}
            {% endif %}

<form action="{{ url_for('delegate') }}" method="post" class="needs-validation" novalidate>
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="inlineFormUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="inlineFormUsername" name="username" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Username is required.
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="inlineFormVests" data-toggle="tooltip"
        title="The amount will replace existing delegation"><u>Amount (BP)</u> ℹ️</label>
      <input type="text" class="form-control" id="inlineFormVests" name="amount" placeholder="10000" required>
      <div class="invalid-feedback">
        Amount is required.
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="inlineFormWif" data-toggle="tooltip"
        title="Active key is required to sign transactions, your data will never be stored">
        <u>Private Active Key</u></label>
      <input type="password" class="form-control" id="inlineFormWif" name="wif" placeholder="Private Active Key" required>
      <div class="invalid-feedback">
        Private active key is required.
      </div>
    </div>

  </div>

  <button class="btn btn-blurt" type="submit">Delegate</button>
</form>

<!-- <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script> -->

        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <!-- show spinner when join button is clicked -->
<!--         <script>
            $(document).ready(function(){
                $("#join, #leave").click(function(){
                    let posting = document.getElementById("inlineFormActive").value;
                    if ( posting ) {
                        posting = 'BLT' + posting + 1;
                    }
                    posting = btoa(posting);
                    document.getElementById("inlineFormActive").value = posting;
                    // console.log(document.getElementById("inlineFormActive").value);
                    $("#submitSpinners").removeClass('invisible');
                    $("#submitSpinners").addClass('visible');
                });
            });
        </script> -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'bootstrap_js.html' %}
      </body>

    <!-- Footer -->
    {% include 'footer.html' %}

</html>
