<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blurt_style.css') }}">

        <!-- fontawesome kit -->
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
        <!-- <script src="https://kit.fontawesome.com/7933aa8507.js" crossorigin="anonymous"></script> -->

        <!-- Exchange Meta Tags -->
        {% include 'exchangemetatags.html' %}
        <!-- Google Analytics -->
        {% include 'gatag.html' %}
        <!-- AdSense -->
        {% include 'adsense.html' %}
    </head>
    <body>

        <div class="container">
            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron bg-blurt text-white">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                    width="150" alt="blurt logo" class="img-thumbnail">
                <h1 class="display-4">Crypto Exchange</h1>
                <p class="lead">Fast Simple Cross-Cahin Crypto Swap. Registration Free.</p>

                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body bg-blurt">
                                <h5 class="card-title">1. Choose currency</h5>
                                <p class="card-text">Pick one of 50,000+ supported currency pairs from the list</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body bg-blurt">
                                <h5 class="card-title">2. Make deposit</h5>
                                <p class="card-text">Confirm details and send your assets to the generated address</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body bg-blurt">
                                <h5 class="card-title">3. Get your coins</h5>
                                <p class="card-text">Receive exchanged crypto with the best possible rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- changenow crypto widget -->
            <div class="container-fluid">
                <iframe id='iframe-widget'
                    src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&from=btc&horizontal=true&lang=en-US&link_id=1b6aecbe211d98&locales=true&logo=false&primaryColor=f2652e&to=bnbmainnet&toTheMoon=false'
                    style="height: 356px; width: 100%; border: none">
                </iframe>
                <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'bootstrap_js.html' %}
      </body>

    <!-- Footer -->
    {% include 'footer.html' %}

</html>
