<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blurt_style.css') }}">

        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

        <!-- fontawesome kit -->
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>

        <!-- Primary Meta Tags -->
        {% include 'metatags.html' %}
        <!-- Google Analytics -->
        {% include 'gatag.html' %}

    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron bg-blurt text-white">
                <img src="https://blurt.blog/images/logo.png"
                width="150" alt="blurt logo" class="img-thumbnail">
                <h1 class="display-4">Upvote Leaderboard</h1>
                <p class="lead">
                    Use
                    <a href="https://blurtblock.herokuapp.com/blurt/upvote/"
                        class="font-weight-bold bg-blurt text-white">
                        <u>BlurtUpvote</u>
                    </a> Everyday, Get More Points, More Rewards. Details Coming Soon!
                    <br>
                </p>
                <hr class="my-4">
                <p class="lead">
                    Don't forget to delegate <strong>BP</strong> to @tomoyan for delegation bonus!
                </p>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="display-4">Weekly Leaderboard</h1>
                        <ul class="list-group text-blurt">
                            {% for user in data %}
                            {% if loop.index <= 10 %}
                            {% if loop.index == 4 %}
                            <!-- A-ADS -->
                            <li class="list-group-item p-1">
                                <iframe data-aa="1515162"
                                    src="//acceptable.a-ads.com/1515162" scrolling="no"
                                    style="border:0px; padding:0; width:100%; height:100%; overflow:hidden"
                                    allowtransparency="true">
                                </iframe>
                            </li>
                            {% endif %}
                            <li class="list-group-item">
                                <img
                                    src="https://images.blurt.blog/u/{{user['username']}}/avatar/small"
                                        onerror="this.onerror=null;
                                        this.src='/static/images/blurt_profile.png';"
                                    alt="profile_image"
                                    class="img-thumbnail rounded-circle float-left mr-3"
                                >
                                {% if loop.index == 1 %}
                                    <img
                                        src="https://www.flaticon.com/svg/static/icons/svg/1021/1021116.svg"
                                        width="50" height="50">
                                {% elif loop.index == 2 %}
                                    <img
                                        src="https://www.flaticon.com/svg/static/icons/svg/1021/1021085.svg"
                                        width="50" height="50">
                                {% elif loop.index == 3 %}
                                    <img
                                        src="https://www.flaticon.com/svg/static/icons/svg/1021/1021077.svg"
                                        width="50" height="50">
                                {% else %}
                                    {{loop.index}}.
                                {% endif %}
                                    <a class="text-blurt font-weight-bold mr-3"
                                        href="https://blurtblock.herokuapp.com/{{user['username']}}"
                                        target="_blank"
                                        rel="noopener noreferrer"><u>{{user['username']}}</u>
                                        {% if user['is_delegator'] %}
                                            <i class="fas fa-fire"></i>
                                        {% endif %}
                                    </a>
                                <br>
                                {{user['points']}} points
                                <div class="progress">
                                    <div
                                        class="upvote-progress-bar bg-blurt"
                                        role="progressbar"
                                        style="width: {{user['percentage']}}%"
                                        aria-valuenow="{{user['percentage']}}"
                                        aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </li>
                            {% elif loop.index > 10 and loop.index <= 50 %}
                            <li class="list-group-item">
                                <img
                                    src="https://images.blurt.blog/u/{{user['username']}}/avatar/small"
                                        onerror="this.onerror=null;
                                        this.src='/static/images/blurt_profile.png';"
                                    alt="profile_image"
                                    class="img-thumbnail rounded-circle float-left mr-3"
                                    width="50" height="50"
                                >
                                {{loop.index}}.
                                    <a class="text-blurt font-weight-bold mr-3"
                                        href="https://blurtblock.herokuapp.com/{{user['username']}}"
                                        target="_blank"
                                        rel="noopener noreferrer"><u>{{user['username']}}</u>
                                        {% if user['is_delegator'] %}
                                            <i class="fas fa-fire"></i>
                                        {% endif %}
                                    </a>
                                {{user['points']}} points
                                <div class="progress">
                                    <div
                                        class="upvote-progress-bar bg-blurt"
                                        role="progressbar"
                                        style="width: {{user['percentage']}}%"
                                        aria-valuenow="{{user['percentage']}}"
                                        aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li class="list-group-item">
                                <img
                                    src="https://images.blurt.blog/u/{{user['username']}}/avatar/small"
                                        onerror="this.onerror=null;
                                        this.src='/static/images/blurt_profile.png';"
                                    alt="profile_image"
                                    class="img-thumbnail rounded-circle float-left mr-3"
                                    width="45" height="45"
                                >
                                {{loop.index}}.
                                    <a class="text-blurt font-weight-bold mr-3"
                                        href="https://blurtblock.herokuapp.com/{{user['username']}}"
                                        target="_blank"
                                        rel="noopener noreferrer"><u>{{user['username']}}</u>
                                        {% if user['is_delegator'] %}
                                            <i class="fas fa-fire"></i>
                                        {% endif %}
                                    </a>
                                {{user['points']}} points
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            </div>

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>

    <!-- Footer -->
    {% include 'footer.html' %}

</html>
