<!-- history API calls to backend -->
<script type="text/javascript">
    document.transferHistoryApi = '/api/blurt/history/{{ username }}/transfer';
    document.upvoteHistoryApi = '/api/blurt/history/{{ username }}/upvote';
    document.postHistoryApi = '/api/blurt/history/{{ username }}/post';
</script>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item p-1">
                <button type="button"
                    id="transferHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Transfer
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="upvoteHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Upvote
                </button>
            </li>
<!--             <li class="nav-item p-1">
                <button type="button"
                    id="postHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Post
                </button>
            </li> -->
        </ul>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Transaction History Here</h5> -->
        <ul id="historyResult"class="list-group list-group-flush">
            <!-- loading spinner -->
            <div id="historySpinners" class="text-center invisible">
                <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- history result goes in here -->
        </ul>
    </div>
</div>
