<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blurt_style.css') }}">

        <!-- chartjs -->
        <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

        <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        </style>

        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/blurt.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/obw.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/wallet.js') }}"></script> -->

        <!-- fontawesome kit -->
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
        <!-- <script src="https://kit.fontawesome.com/7933aa8507.js" crossorigin="anonymous"></script> -->

        <!-- Primary Meta Tags -->
        {% include 'metatags.html' %}
        <!-- Google Analytics -->
        {% include 'gatag.html' %}
        <!-- AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6245186157176682"
             crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron bg-blurt text-white">
                <img src="{{ url_for('static', filename='images/blurt-logo.png') }}"
                    width="150" alt="blurt logo" class="img-thumbnail">

                {% if username %}
<!--                 <h1 class="display-4">Blurt Profile:
                    <small>
                    <u>
                        <a href="https://blurt.blog/@{{ username }}"
                        class="bg-blurt text-white"
                        id="username" data-value="{{ username }}"
                        target="_blank" rel="noopener noreferrer">{{ username }}</a>
                    </u>
                    </small>
                    <img src="https://imgp.blurt.world/profileimage/{{ username }}"
                            alt="profile_image"
                            class="img-thumbnail rounded-circle float-right"
                            width="64" height="64">
                </h1> -->

                <div class="row">
                    <div class="col-8">
                        <h1 class="display-4">Blurt Profile:
                            <a href="https://blurt.blog/@{{ username }}"
                            class="bg-blurt text-white"
                            id="username" data-value="{{ username }}"
                            target="_blank" rel="noopener noreferrer">{{ username }}</a>
                            {% if data['trail'] %}
                            <a href="/blurt/trail/">
                                <i class="bi bi-patch-check-fill text-white"
                                    data-toggle="tooltip" data-placement="top"
                                    title="curation trail follower"></i>
                            </a>

                            {% endif %}
                        </h1>
                    </div>
                    <div class="col-md">
                        <img src="https://imgp.blurt.world/profileimage/{{ username }}"
                                alt="profile_image"
                                class="img-thumbnail rounded-circle float-right"
                                width="64" height="64">
                    </div>
                </div>

                <div class="d-flex bd-highlight">
                    <div class="flex-grow-1 bd-highlight">
                        <p class="lead">
                            Balance: <b>{{ data['blurt'] }} BLURT</b><br>
                            Blurt Power: <b>{{ data['bp'] }} BP</b><br>
                            <u>
                                <a href="/blurt/leaderboard/"
                                class="bg-blurt text-white"
                                target="_blank" rel="noopener noreferrer">Leaderboard Rank: </a>
                            </u>
                            <!-- ranking -->
                            <b>
                            {% if data['ranking'] %}
                            {{ data['ranking'] }}
                            {% else %}
                            --
                            {% endif %}
                            </b><br>
                            <!-- star ratings -->
                            Star Points:
                            {% if data['stars'] >= 0 and data['stars'] < 0.5 %}
                                <i class="bi bi-star" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 0.5 and data['stars'] < 1 %}
                                <i class="bi bi-star-half" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 1 and data['stars'] < 1.5 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 1.5 and data['stars'] < 2 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-half" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 2 and data['stars'] < 2.5 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 2.5 and data['stars'] < 3 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-half" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 3 and data['stars'] < 3.5 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 3.5 and data['stars'] < 4 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-half" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 4 and data['stars'] < 4.5 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 4.5 and data['stars'] < 5 %}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-half" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% elif data['stars'] >= 5%}
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                                <i class="bi bi-star-fill" data-toggle="tooltip"
                                    data-placement="top" title="{{ data['stars'] }}"></i>
                            {% endif %}
                            <!-- bonus star icon -->
                            {% if data['stars'] == 2.5 or data['stars'] == 5 %}
                            <i class="bi bi-stars"></i>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- progress bar -->
                <h5 class="lead">Voting Power: {{ data['voting_power'] }}%</h5>
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                    role="progressbar" style="width: {{ data['voting_power'] }}%"
                    aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100">Full charge in {{ data['recharge_time_str'] }}</div>
                </div>

                {% else %}
                <h1 class="display-4">Blurt Profile</h1>
                <p class="lead" id="username" data-value="">No user information</p>
                {% endif  %}
            </div>

            <!-- profile contents -->
            {% if username %}
            <!-- middle navigation menu -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- main nav -->
                    <a class="nav-item nav-link active" id="nav-main-tab" data-toggle="tab" href="#nav-main"
                        role="tab" aria-controls="nav-main" aria-selected="true">
                        Main
                    </a>

                    <!-- API calls to backend-->
                    <script type="text/javascript">
                       document.delegationApiIn = '/api/blurt/delegation/{{ username }}/in/';
                       document.delegationApiOut = '/api/blurt/delegation/{{ username }}/out/';
                       document.delegationApiExp = '/api/blurt/delegation/{{ username }}/exp/';
                    </script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/blurt.js') }}">
                    </script>

                    <!-- account history nav -->
                    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history"
                        role="tab" aria-controls="nav-history" aria-selected="false">
                        Account <span id="historySize" class="badge badge-secondary"></span>
                    </a>

                    <!-- delegation nav -->
                    <a class="nav-item nav-link" id="nav-delegation-tab" data-toggle="tab" href="#nav-delegation"
                        role="tab" aria-controls="nav-delegation" aria-selected="false">
                        Delegation <span id="delegationSize" class="badge badge-secondary"></span>
                    </a>

                    <!-- vote chart nav -->
                    <a class="nav-item nav-link" id="nav-chart-tab" data-toggle="tab" href="#nav-chart"
                        role="tab" aria-controls="nav-chart" aria-selected="false">
                        Chart <span class="badge badge-secondary"></span>
                    </a>
                </div>
            </nav>

            <!-- middle contents -->
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">

                <!-- main content -->
                <h1 class="display-4">
                    Wallet Info
                    <button type="button" class="btn btn-blurt" id="claimButton"
                        data-toggle="modal" data-target="#claimRewards">
                        Redeem Rewards
                    </button>
                </h1>

                <!-- Modal -->
                <div class="modal fade" id="claimRewards" tabindex="-1"
                    role="dialog" aria-labelledby="claimModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title" id="claimModalLabel">Redeem Rewards (Transfer to Balance)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                          <div class="form-group">
                            <input type="text" class="form-control" id="usernameInput"
                                placeholder="Username" readonly>
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" id="wifInput"
                                placeholder="Enter Private Posting Key" required>
                          </div>
                          <div id="redeemResult"></div>
                      </div>

                      <div class="modal-footer">
                        <div class="btn btn-outline-blurt invisible" id="submitSpinners">
                          <div class="spinner-border spinner-border-sm text-blurt" role="status">
                              <span class="sr-only ">Loading...</span>
                          </div>
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-blurt" id="redeemRewards">Redeem</button>
                      </div>

                    </div>
                  </div>
                </div>

                {% include 'blurt/profile_data_main.html' %}

                </div>

                <!-- list of delegation -->
                <div class="tab-pane fade" id="nav-delegation" role="tabpanel" aria-labelledby="nav-delegation-tab">

                    <h1 class="display-4">Outgoing Delegation</h1>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body pt-1 pb-1">
                                    <ul id="outgoingResult"class="list-group list-group-flush">
                                        <!-- loading spinner -->
                                        <div id="mdb-preloader" class="text-center">
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <!-- outgoing delegation list goes in here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="display-4">Expiring Delegation</h1>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body pt-1 pb-1">
                                    <ul id="expiringResult"class="list-group list-group-flush">
                                        <!-- loading spinner -->
                                        <div id="mdb-preloader" class="text-center">
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <!-- expiring delegation list goes in here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="display-4">Incoming Delegation</h1>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body pt-1 pb-1">
                                    <ul id="incomingResult"class="list-group list-group-flush">
                                        <!-- loading spinner -->
                                        <div id="mdb-preloader" class="text-center">
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-border spinner-border-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <div class="spinner-grow spinner-grow-sm text-blurt m-3" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <!-- incoming delegation list goes in here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- list of account history -->
                <div class="tab-pane fade" id="nav-history"
                    role="tabpanel" aria-labelledby="nav-history-tab">
                    <!-- history content -->
                    <h1 class="display-4">Account Info</h1>
                    {% include 'blurt/profile_data_history.html' %}
                </div>

                <!-- vote chart -->
                <div class="tab-pane fade" id="nav-chart"
                    role="tabpanel" aria-labelledby="nav-chart-tab">
                    <!-- chart content -->
                    <h1 class="display-4">Upvote Chart</h1>
                    {% include 'blurt/profile_data_chart.html' %}
                </div>
            </div>

            {% endif  %}

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>

    <!-- Footer -->
    {% include 'footer.html' %}

</html>
