<!-- history API calls to backend -->
<script type="text/javascript">
    document.operationHistoryApi = '/api/blurt/operations/{{ username }}/';
    document.rewardOneApi = '/api/blurt/reward/{{ username }}/1/';
    document.rewardSevenApi = '/api/blurt/reward/{{ username }}/7/';
    document.rewardThirtyApi = '/api/blurt/reward/{{ username }}/30/';
    // document.transferHistoryApi = '/api/blurt/history/{{ username }}/transfer/';
    // document.upvoteHistoryApi = '/api/blurt/history/{{ username }}/upvote/';
    // document.commentHistoryApi = '/api/blurt/history/{{ username }}/comment/';
    document.followerApi = '/api/blurt/follower/{{ username }}/';
    document.followingApi = '/api/blurt/following/{{ username }}/';
    document.muteApi = '/api/blurt/mute/{{ username }}/'
</script>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item p-1">
                <div id="historySpinners" class="text-left invisible">
                    <div class="spinner-border spinner-border-sm text-blurt" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="operationHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Operation
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="rewardHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Reward
                </button>
            </li>
<!--             <li class="nav-item p-1">
                <button type="button"
                    id="transferHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Transfer
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="upvoteHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Upvote
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="commentHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Comment
                </button>
            </li> -->
            <li class="nav-item p-1">
                <button type="button"
                    id="followHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Follower
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="followingHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Following
                </button>
            </li>
            <li class="nav-item p-1">
                <button type="button"
                    id="muteHistory"
                    class="btn btn-outline-blurt btn-sm">
                    Mute
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <ul id="historyResult" class="list-group list-group-flush">
            <!-- history result goes in here -->
        </ul>
    </div>
</div>
