<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/blurt_style.css') }}">

        <!-- chartjs -->
        <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

        <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        </style>

        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

        <!-- fontawesome kit -->
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>

        <!-- Primary Meta Tags -->
        <title>BlurtBlock - Blurt Profile Information</title>
        <meta name="title" content="BlurtBlock - Blurt Profile Information">
        <meta name="description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://blurtblock.herokuapp.com/">
        <meta property="og:title" content="BlurtBlock - Blurt Profile Information">
        <meta property="og:description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">
        <meta property="og:image" content="https://blurtblock.herokuapp.com/static/images/blurtblock.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://blurtblock.herokuapp.com/">
        <meta property="twitter:title" content="BlurtBlock - Blurt Profile Information">
        <meta property="twitter:description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">
        <meta property="twitter:image" content="https://blurtblock.herokuapp.com/static/images/blurtblock.png">

    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron bg-blurt text-white">
                <img src="https://blurt.blog/images/logo.png"
                width="150" alt="blurt logo" class="img-thumbnail">
                <h1 class="display-4">Blurt Statistics</h1>
                <!-- <p class="lead">Number of operations</p> -->
            </div>

            <div id="mdb-preloader" class="flex-center">
                <div id="mdb-preloader" class="text-center">
                    <div class="spinner-grow text-blurt m-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-blurt m-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-blurt m-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-border text-blurt m-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-blurt m-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="text-center">
                        <img
                            src="{{ url_for('static', filename='images/dancing_bear.gif') }}"
                            class="img-fluid"
                            alt="dancing_bear">
                    </div>
                </div>
            </div>

            <div style="width:100%;">
                <canvas id="bar"></canvas>
            </div>


            <script>
                var progress = document.getElementById('animationProgress');
                var chartData = {
                    labels: {{ data['labels'] | tojson }},
                    datasets: [{
                        label: 'VOTE',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#2F4674',
                        fill: false,
                        data: {{ data['vote'] | tojson }},
                        yAxisID: 'y-axis-1',
                    }, {
                        label: 'ACCOUNT CREATE',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#6376A8',
                        fill: false,
                        data: {{ data['account_create'] | tojson }},
                        yAxisID: 'y-axis-2'
                    }, {
                        label: 'COMMENT',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#E5F0FF',
                        fill: false,
                        data: {{ data['comment'] | tojson }},
                        yAxisID: 'y-axis-3'
                    }, {
                        label: 'TOTAL',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#D5A419',
                        fill: false,
                        data: {{ data['total'] | tojson }},
                        yAxisID: 'y-axis-4'
                    }, {
                        label: 'POWERUP COUNT',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#00A0FF',
                        fill: false,
                        data: {{ data['transfer_to_vesting'] | tojson }},
                        yAxisID: 'y-axis-5'
                    }, {
                        label: 'POWERDOWN COUNT',
                        borderColor: 'white',
                        borderWidth: 2,
                        backgroundColor: '#FF314B',
                        fill: false,
                        data: {{ data['withdraw_vesting'] | tojson }},
                        yAxisID: 'y-axis-6'
                    }]
                };

                window.onload = function() {
                    // hide loading spinners
                    $('#mdb-preloader').delay(100).fadeOut(500);

                    var ctx = document.getElementById('bar').getContext('2d');
                    window.myLine = new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            responsive: true,
                            title: {
                                display: false,
                                fontColor: 'black',
                                text: 'Blurtistics'
                            },
                            scales: {
                                xAxes: [{
                                    ticks: { 'fontColor': 'black' },
                                }],
                                yAxes: [{
                                    type: 'linear',
                                    display: false,
                                    position: 'left',
                                    id: 'y-axis-1',
                                    ticks: { 'beginAtZero': true },
                                }, {
                                    type: 'linear',
                                    display: false,
                                    position: 'right',
                                    id: 'y-axis-2',
                                    ticks: { 'beginAtZero': true },
                                }, {
                                    type: 'linear',
                                    display: false,
                                    position: 'right',
                                    id: 'y-axis-3',
                                    ticks: { 'beginAtZero': true },
                                }, {
                                    type: 'linear',
                                    display: false,
                                    position: 'right',
                                    id: 'y-axis-4',
                                    ticks: { 'beginAtZero': true },
                                }, {
                                    type: 'linear',
                                    display: false,
                                    position: 'right',
                                    id: 'y-axis-5',
                                    ticks: { 'beginAtZero': true },
                                }, {
                                    type: 'linear',
                                    display: false,
                                    position: 'right',
                                    id: 'y-axis-6',
                                    ticks: { 'beginAtZero': true },
                                }],
                            },
                            legend: {
                                labels: {
                                    fontColor: 'black'
                                }
                            }
                        }
                    });
                };
            </script>

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      </body>
    <!-- Footer -->
    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">Powered by:
            <a
                href="https://blurtwallet.com/~witnesses?highlight=tomoyan"
                class="btn btn-blurt"
                target="_blank" rel="noopener noreferrer"> @tomoyan
            </a>
            <!-- github icon -->
            <a class="w-25 mx-auto nav-link text-blurt"
                href="https://github.com/tomoyan/blurtblock"
                target="_blank" rel="noopener noreferrer">
              <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </footer>
</html>
