<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Beem Tools</title>
    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron">
                <h1 class="display-4">Beem Tools</h1>
                <p class="lead">UH OH! You're lost.</p>
            </div>

            <!-- 404 not found page -->
            {% include '404_main.html' %}

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'bootstrap_js.html' %}
      </body>
</html>
