<!-- Footer -->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        <!-- publish0x banner -->
        <a href="https://www.publish0x.com?a=4zbqpvkapr"
            target="_blank" rel="noopener noreferrer">
            <img src="https://cdn.publish0x.com/prod/fs/images/da2424398bd4625ed05e95650fd1fc59638d98e68350cf673d8b393558969644.png"
            class="img-fluid p-1" alt="publish0x">
        </a><br>

        Created by
        <a
            href="https://blurtwallet.com/~witnesses?highlight=tomoyan"
            class="btn btn-blurt"
            target="_blank" rel="noopener noreferrer"> @tomoyan
        </a>
        <a class="w-25 mx-auto nav-link text-blurt"
            href="https://github.com/tomoyan/blurtblock"
            target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</footer>
