<!-- Footer -->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">Created by
        <a
            href="https://blurtwallet.com/~witnesses?highlight=tomoyan"
            class="btn btn-blurt"
            target="_blank" rel="noopener noreferrer"> @tomoyan
        </a>
        <a class="w-25 mx-auto nav-link text-blurt"
            href="https://github.com/tomoyan/blurtblock"
            target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</footer>
