<footer class="page-footer font-small sticky-bottom">
    <div class="footer-copyright text-center py-1">
        <div class="container">
            {% if data and data['banner'] == 'publish0x' %}
            <!-- publish0x banner -->
            <div class="container">
                <a href="https://www.publish0x.com?a=4zbqpvkapr"
                    target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn.publish0x.com/prod/fs/images/da2424398bd4625ed05e95650fd1fc59638d98e68350cf673d8b393558969644.png"
                    class="img-fluid p-1" alt="publish0x">
                </a>
            </div>
            {% else  %}
            <!-- a-ads banner -->
            <div class="container">
                <iframe data-aa="1515162" src="//acceptable.a-ads.com/1515162" scrolling="no"
                    style="border:0px; padding:0; width:100%; height:100%; overflow:hidden"
                    allowtransparency="true">
                </iframe>
            </div>
            {% endif  %}
            <!-- Presearch Banner -->
            <a href="https://www.presearch.org/signup?rid=1684719" target="_blank">
                <img src="https://www.presearch.org/images/rf/ban-4.jpg"
                    title="Presearch" alt="presearch" class="img-fluid p-1"/>
            </a>
        </div>
    </div>
</footer>
