        <!-- Primary Meta Tags -->
        <title>BlurtBlock - Blurt Profile Information</title>
        <meta name="title" content="BlurtBlock - Blurt Profile Information">
        <meta name="description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://blurtblock.herokuapp.com/">
        <meta property="og:title" content="BlurtBlock - Blurt Profile Information">
        <meta property="og:description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">
        <meta property="og:image" content="https://blurtblock.herokuapp.com/static/images/blurtblock.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://blurtblock.herokuapp.com/">
        <meta property="twitter:title" content="BlurtBlock - Blurt Profile Information">
        <meta property="twitter:description" content="BlurtBlock is a Blurt Blockchain Explorer. Displays user information, vote chart, reward summary, stats and more!">
        <meta property="twitter:image" content="https://blurtblock.herokuapp.com/static/images/blurtblock.png">
